.movieInfo{
    color: rgb(4, 4, 4);
    display: flex;
    background-color: rgb(252, 252, 190);
    padding: 70px 30px 50px 50px;
}

.movieImage{
    margin-right: 40px;
}

.image{
    border-radius: 14px;
    width: auto;
    height: 408px;
}

h1{
    font-size: 50px;
    font-weight: bolder;
}

.aboutMovie{
    padding: 30px 30px 10px 50px;
}

h4{
    font-size: 30px;
    color: rgba(255, 255, 255, 0.8);
}
/* 
#screenRoot{
    padding: 0px 30px 50px 50px;
}

.timeDiv{
    display: grid;
    grid-template-columns: 170px 170px 170px;
}

.time{
    background-color: rgb(235, 19, 73);
    padding: 20px;
    margin: 30PX;
    border-radius: 5PX;
    font-size: small;
} */


.bookButton{
    display: block;
    margin: 0 auto;
    width: 200px;
    margin-top: 50px;
    padding: 10px;
    border-radius: 4px;
    color: aliceblue;
    border: none;
    background-color: rgb(235, 6, 63);
}


.titleH1{
    color: rgb(238, 13, 47);
}

.aboutMovieH4{
    color: rgb(51, 255, 0);
}

.movieDetailsP{
    color: rgb(10, 67, 4);
    font-weight: bold;
}